<% layout('layouts/boilerplate')%>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Change Password</h1>
    <form action="/changePassword?_method=PATCH" method="POST" class="validated-form" novalidate>
      <div class="mb-3">
        <label class="form-label" for="oldPassword">Old Password</label>
        <input class="form-control" type="password" id="oldPassword" name="oldPassword" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="newPassword">New Password</label>
        <input class="form-control" type="password" id="newPassword" name="newPassword" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>
</div>