<% layout('layouts/boilerplate')%>
<div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteAccountModal">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this account permanently?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="/deleteAccount?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card text-center mb-3">
      <% if(currentUser) { %>
      <h1 class="card-header"><%= currentUser.username %></h1>
      <div class="card-body">
        <h5 class="card-title">Score: <%= currentUser.points %> </h5>
      </div>
      <div class="card-footer text-muted">
        <a class="card-link btn btn-info me-2 mt-2" href="/changePassword">Change Password</a>
        <button type="button" class="btn btn-danger mt-2" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">
          Delete Account
        </button>
      </div>
      <% }else { %>
      <h1 class="card-title text-center">No user logged in :(</h1>
      <% } %>
    </div>
  </div>
</div>