<% layout('layouts/boilerplate')%>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <input class="form-control bg-dark text-white border-dark" type="search" placeholder="Search..." id="searchBar"></textarea>
  </div>
</div>

<table class="table table-dark table-borderless mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <% ranking.forEach((user,index) => { %>
    <tr>
      <th scope="row"><%= user.rank_number %></th>
      <td><%= user.username%></td>
      <td><%= user.points%> </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<script src="/javascripts/jquery-3.6.0.min.js"></script>
<script src="/javascripts/ranking.js"></script>