<div class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="createPostModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header border-secondary">
        <h5 class="modal-title">Create Post</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/posts" method="POST" class="validated-form" novalidate>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control bg-dark text-white border-secondary" type="text" id="title" name="title" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="title">Content</label>
            <textarea rows="5" class="form-control bg-dark text-white border-secondary" name="content" id="content" required></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <div class="modal-footer border-secondary">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>